.new-proposal-form {
	.ant-btn {
		height: 40px;
	}
}

.new-proposal-title {
	.super-size;
	.u-margin-bottom-large;

}

.type-dropdown {
	border-bottom: 2px white solid;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
	border: none;
	box-shadow: none !important;
}

.ant-select-arrow {
	display: block;
}

.new-proposal-note {
	width: 500px;
}

.dao-checks {
	display: flex;
	flex-direction: row;
	.u-gap-30;

	p {
		.u-margin-left-medium;
		width: 250px;
	}
	justify-content: space-around;

}
.vote-time-btns {
	.u-margin-bottom-30;
	.u-margin-top-medium;
	.u-margin-left-small;
}

.new-proposal-custom-time {
	.u-margin-top-medium;
	.u-margin-bottom-medium;
	.ant-btn;
	border-radius: 12.5px !important;
	height: 40px;
	display: flex;
	align-items: center;
}

.share-proposal-btn {
	.u-margin-top-medium;
	height: 60px !important;
	width: 275px;
}

.time-select-btn-active {
	.stroke-btn-green;
	.u-dao-view-btn;
}

.time-select-btn-active:focus {
	.stroke-btn-green;
	.u-dao-view-btn;
}

.time-select-btn-inactive:focus{
	.stroke-btn-green;
	.u-dao-view-btn;
}

.time-select-btn-inactive {
	.u-dao-view-btn;
}

.new-proposal-summary {
	padding-top: 10px;
}


