p {
  .paragraph-2r;
}

.card-wrapper {
  padding: 5%;
  width: 375px;
  height: 350px;
  margin-bottom: 30px;
}

.card-wrapper:hover {
  background-color: #272626;
  border-radius: 8px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title, .card-summary {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

