/* LAYOUT */

.ant-layout {
	margin: 25px;
}

@media screen and (max-width: 768px) {
	.ant-layout {
		margin: 10px;
	}
}

.ant-layout-has-sider {
	margin: 0;
}

.ant-layout-sider,
.ant-layout-sider-children,
.ant-menu-root.ant-menu-vertical {
	height: 100%;
}
.ant-layout-header {
	padding: 0px;
	background: #fff;
	line-height: initial;
}

.ant-layout-sider {
	position: fixed !important;
	color: white;
	padding-left: 6px;
	min-height: 85vh;
	height: 85vh;
	background-color: white;
	padding: 10px;
}

.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-below {
	background: white;
}
.ant-menu-root.ant-menu-vertical {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.ant-layout.ant-layout-has-sider > .ant-layout {
	width: auto;
}

.anticon svg {
	width: 27px;
	height: 27px;
}

@media only screen and (max-width: 768px) {
	.ant-layout-has-sider {
		flex-direction: column !important;
	}
}

/* BUTTON */

button[type="button"].ant-btn,
button[type="button"].ant-btn.ant-btn-primary {
	background-color: white;
	color: black;
	border: 1px solid #c0c0c0;
}

/* SIDER */

.ant-layout-sider-zero-width-trigger {
	background: rgba(255, 255, 255, 1);
	display: block;
	padding: 10px;
	padding-top: 10px;
	width: 40px;
	height: 40px;
}

.ant-layout-sider-collapsed .ant-layout-sider-zero-width-trigger {
	top: 15px;
	left: 15px;
}

.ant-layout-sider {
	padding: 0;
}

/* MENU */

.ant-menu {
	padding-top: 80px;
}
.ant-menu,
.ant-menu ul,
.ant-menu li,
.ant-menu a:hover,
.ant-menu a:active,
.ant-menu a:link,
.ant-menu a:visited {
	color: black;
	background: transparent;
	font-size: 1.3em;
	line-height: 1em;
	min-height: 2.5em;
	text-decoration: none;
}
a:visited,
a:active,
a:link,
a:hover {
	color: black;
	font-size: 1em;
}

.ant-menu-item:active {
	background-color: white;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
	border-right: white;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: white !important;
	/* text-decoration: underline;
	text-underline-offset: 17px; */
	color: white;
}

/* TABS */

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
	margin-left: 0px;
	border: 1px solid black;
	border-bottom: 0px !important;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active:first-child {
	border-left: 0px !important;
}
.ant-tabs-nav-list {
	width: 100%;
}
.ant-tabs-nav-list > div:nth-last-child(2) {
	border-right: 0px !important;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
	border: 1px solid black;
	margin-left: 0px;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	width: 100%;
	justify-content: center;
	background: white;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
	margin-left: 0px;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab:hover,
.ant-tabs-tab-btn:active {
	color: black;
}

/* SLIDER */

.ant-slider-step {
	height: 1px;
	border-radius: 0px;
	border: 1px solid black;
}

.ant-slider-handle:focus {
	box-shadow: none;
}

/* LINE */

.ant-menu-title-content {
	position: relative;
}

.ant-menu-vertical .ant-menu-item {
	padding: 0px;
}

.ant-menu-title-content > a:before {
	content: "";
	width: 0%;
	height: 1px;
	display: block;
	background-color: black;
	top: 42px;
	position: absolute;
}
.ant-menu-title-content > a:hover::before,
.ant-menu .ant-menu-item-selected .ant-menu-title-content > a::before {
	width: 100%;
	transition: all 0.5s;
}

/* DRAWER */

.ant-drawer-header {
	flex-direction: row-reverse;
}
.ant-drawer-header-title {
	flex: 0;
}

/* FOOTER */

.ant-layout-footer {
	background-color: white;
	padding: 24px 0px;
}

/* ALERT */

.ant-alert {
	margin: 20px auto;
}
.ant-alert-message {
	text-align: center;
	color: #ea6418;
	font-weight: 400;
	font-size: 16px;
}
.ant-alert-warning {
	background-color: transparent;
	border-color: #ea6418;
	border-radius: 4px;
	width: fit-content;
}

/* INPUT */

.ant-input {
	border-color: #a7a7a7 !important;
	padding: 1rem;
	font-size: 16px;
	border-radius: 8px;
}

.ant-input::placeholder {
	text-align: center;
}

.ant-input:active,
.ant-input:focus,
.ant-input:hover {
	border-color: #c4f634 !important;
	box-shadow: none;
}

a.ant-btn {
	line-height: initial;
	padding: 1rem !important;
}

/* Progress bar */

.ant-progress-bg {
	background: black !important;
}

/* DAO */

.ant-dropdown-trigger {
	flex: 1;
}

.dao-tabs-ctn {
	margin: 40px 0;
}
