@import "./fonts/fonts.css";
h1 {
	font-size: 2.66rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

.bold {
	font-family: NewfoundationWhyte-Bold;
}

.paragraph-1b {
	font-family: NewfoundationWhyte-Book;
	font-size: 25px;
	margin: 0px;
}

.header-1 {
	font-size: 50px;
}

.text-huge {
	font-size: min(3em, 3vw);
}
