@import "./fonts/fonts.css";

h2 {
	font-size: 2rem;
}

.bold {
	font-family: NewfoundationWhyte-Bold;
}

.paragraph-1b {
	font-family: NewfoundationWhyte-Book;
	font-size: 25px;
	margin: 0;
}

.header-1 {
	font-size: 50px;
}

.text-huge {
	font-size: min(3em, 3vw);
}
